.musicmovie-form-container {
    max-width: 480px;
    margin: 40px auto;
    padding: 20px;
}
.musicmovie-form {
    width: calc(100% - 20px);
}
.musicmovie-form-group {
    margin-bottom: 20px;
}
.musicmovie-form-group label {
    font-size: 12px;
    color: #aaa;
}
.musicmovie-form-btn-container {
    display: flex;
    justify-content: center;
}